<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.biz.mapper.common.OrgMapper">
  <resultMap id="BaseResultMap" type="com.iscas.biz.domain.common.Org">
    <id column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="org_pid" jdbcType="INTEGER" property="orgPid" />
    <result column="org_create_time" jdbcType="TIMESTAMP" property="orgCreateTime" />
    <result column="org_update_time" jdbcType="TIMESTAMP" property="orgUpdateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.iscas.biz.domain.common.Org">
    <result column="org_desc" jdbcType="LONGVARCHAR" property="orgDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    org_id, org_name, org_pid, org_create_time, org_update_time
  </sql>
  <sql id="Blob_Column_List">
    org_desc
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.iscas.biz.domain.common.OrgExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.iscas.biz.domain.common.OrgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from org
    where org_id = #{orgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from org
    where org_id = #{orgId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.iscas.biz.domain.common.OrgExample">
    delete from org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="orgId" keyColumn="org_id" parameterType="com.iscas.biz.domain.common.Org">
    insert into org (org_id, org_name, org_pid,
      org_create_time, org_update_time, org_desc
      )
    values (#{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, #{orgPid,jdbcType=INTEGER},
      #{orgCreateTime,jdbcType=TIMESTAMP}, #{orgUpdateTime,jdbcType=TIMESTAMP}, #{orgDesc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iscas.biz.domain.common.Org">
    insert into org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        org_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="orgPid != null">
        org_pid,
      </if>
      <if test="orgCreateTime != null">
        org_create_time,
      </if>
      <if test="orgUpdateTime != null">
        org_update_time,
      </if>
      <if test="orgDesc != null">
        org_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgPid != null">
        #{orgPid,jdbcType=INTEGER},
      </if>
      <if test="orgCreateTime != null">
        #{orgCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgUpdateTime != null">
        #{orgUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgDesc != null">
        #{orgDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iscas.biz.domain.common.OrgExample" resultType="java.lang.Long">
    select count(*) from org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update org
    <set>
      <if test="record.orgId != null">
        org_id = #{record.orgId,jdbcType=INTEGER},
      </if>
      <if test="record.orgName != null">
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgPid != null">
        org_pid = #{record.orgPid,jdbcType=INTEGER},
      </if>
      <if test="record.orgCreateTime != null">
        org_create_time = #{record.orgCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgUpdateTime != null">
        org_update_time = #{record.orgUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgDesc != null">
        org_desc = #{record.orgDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update org
    set org_id = #{record.orgId,jdbcType=INTEGER},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      org_pid = #{record.orgPid,jdbcType=INTEGER},
      org_create_time = #{record.orgCreateTime,jdbcType=TIMESTAMP},
      org_update_time = #{record.orgUpdateTime,jdbcType=TIMESTAMP},
      org_desc = #{record.orgDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update org
    set org_id = #{record.orgId,jdbcType=INTEGER},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      org_pid = #{record.orgPid,jdbcType=INTEGER},
      org_create_time = #{record.orgCreateTime,jdbcType=TIMESTAMP},
      org_update_time = #{record.orgUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iscas.biz.domain.common.Org">
    update org
    <set>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgPid != null">
        org_pid = #{orgPid,jdbcType=INTEGER},
      </if>
      <if test="orgCreateTime != null">
        org_create_time = #{orgCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgUpdateTime != null">
        org_update_time = #{orgUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgDesc != null">
        org_desc = #{orgDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.iscas.biz.domain.common.Org">
    update org
    set org_name = #{orgName,jdbcType=VARCHAR},
      org_pid = #{orgPid,jdbcType=INTEGER},
      org_create_time = #{orgCreateTime,jdbcType=TIMESTAMP},
      org_update_time = #{orgUpdateTime,jdbcType=TIMESTAMP},
      org_desc = #{orgDesc,jdbcType=LONGVARCHAR}
    where org_id = #{orgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iscas.biz.domain.common.Org">
    update org
    set org_name = #{orgName,jdbcType=VARCHAR},
      org_pid = #{orgPid,jdbcType=INTEGER},
      org_create_time = #{orgCreateTime,jdbcType=TIMESTAMP},
      org_update_time = #{orgUpdateTime,jdbcType=TIMESTAMP}
    where org_id = #{orgId,jdbcType=INTEGER}
  </update>
</mapper>