<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.biz.mapper.common.UserMapper">
  <resultMap id="BaseResultMap" type="com.iscas.biz.domain.common.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_real_name" jdbcType="VARCHAR" property="userRealName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_status" jdbcType="SMALLINT" property="userStatus" />
    <result column="user_create_time" jdbcType="TIMESTAMP" property="userCreateTime" />
    <result column="user_update_time" jdbcType="TIMESTAMP" property="userUpdateTime" />
  </resultMap>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select *
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <update id="updatePwd" parameterType="com.iscas.biz.domain.common.User">
    update user_info set user_pwd = #{userPwd,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectUserByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    select * from user_info where user_id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id, jdbcType=INTEGER}
    </foreach>
  </select>

</mapper>